html {
	background-color: #181818;
	background-image: url("media/bowlbg.png");
	background-repeat: repeat;
	color: #aaaaaa;
}

#returnscape {
	background-color: #2e2e2e;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 0%;
	padding: 10px;
	width: 60%;
	animation-name: rainbowlink;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	border: black 3px solid;
	text-align: center;
}

.rainbowlink {
	animation-name: rainbowlink;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

#dice {
	background-color: #2e2e2e;
	margin: auto;
	margin-top: 2%;
	padding: 10px;
	width: 60%;
	color: #aaaaaa;
	border: black 3px solid;
}

marquee {
	background-color: #666666;
}

#output {
	background-color: #000000;
	color: #00aa00;
	margin: 10px;
	animation-name: terminal;
	animation-duration: 66ms;
	animation-iteration-count: infinite;
	padding-left: 10px;
	border: #222222 3px solid;
}

@keyframes terminal {
	0%   {color: #009900}
	100% {color: #00ee00}
}

@keyframes rainbowlink {
	0%   {color: #ff0000}
	16%  {color: #ffff00}
	33%  {color: #00ff00}
	49%  {color: #00ffff}
	66%  {color: #0000ff}
	82%  {color: #ff00ff}
	100% {color: #ff0000}
}

